@charset "utf-8";
 /* common */
html {scroll-behavior: smooth;scroll-padding-top: 0;}
body {margin: 0;font-family: "MS 明朝", serif;position: relative;}
header {margin: 0;}
main {margin: 0;border-top: 1px solid #ddd;}
aside {margin: 0;}
footer {margin: 0;}
nav {margin: 0;background: #ddd}
ul {margin: 0;padding: 0;list-style: none;}
a {text-decoration: none;color: inherit;}
div {margin: 0;padding: 0;}
img {vertical-align: bottom;}
h1 {margin: 0;font-weight: bold;font-size: 28px;font-family: "MS ゴシック", sans-serif;}
h2 {margin: 0;font-weight: normal;}
h3 {margin: 0;font-weight: normal;}
h4 {margin: 0;font-weight: bold;font-size: 24px;}
p {margin: 0;}
span {font-weight: bold;}

/*---------- opening ----------*/
.open1 {
  background: black;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(
    0 0,
    90% 0,
    10% 100%,
    0% 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  animation: open1 3s 2s 1 forwards;
}
@keyframes open1 {
  100% {
    left: -50vw;
    opacity: 0;
    pointer-events: none;
  }
}
.open2 {
  background: black;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(
    80% 0,
    100% 0,
    100% 100%,
    0 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  animation: open2 3s 2s 1 forwards;
}
@keyframes open2 {
  100% {
    left: 60vw;
    opacity: 0;
    pointer-events: none;
  }
}
.open-mes {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50%;
  z-index: 6;
  animation: open-mes 3s 2s 1 forwards;
}
@keyframes open-mes  {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.open-mes span {
  font-family: "MS ゴシック", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.mes1 {
  opacity: 0;
  animation: mes1 .3S 1 linear forwards;
}
@keyframes mes1 {
  100% {opacity: 1;}
}
.mes2 {
  opacity: 0;
  animation: mes2 .3S .2s 1 linear forwards;
}
@keyframes mes2 {
  100% {opacity: 1;}
}
.mes3 {
  opacity: 0;
  animation: mes3 .3S .4s 1 linear forwards;
}
@keyframes mes3 {
  100% {opacity: 1;}
}
.mes4 {
  opacity: 0;
  animation: mes4 .3S .6s 1 linear forwards;
}
@keyframes mes4 {
  100% {opacity: 1;}
}
.mes5 {
  opacity: 0;
  animation: mes5 .3S .8s 1 linear forwards;
}
@keyframes mes5 {
  100% {opacity: 1;}
}
.mes6 {
  opacity: 0;
  animation: mes6 .3S 1s 1 linear forwards;
}
@keyframes mes6 {
  100% {opacity: 1;}
}
.mes7 {
  opacity: 0;
  animation: mes7 .3S 1.2s 1 linear forwards;
}
@keyframes mes7 {
  100% {opacity: 1;}
}




/*---------- header ----------*/
header {
  width: calc(100% - 32px);
  max-width: 960px;
  height: 48px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}


/*---------- .hero ----------*/
.hero {
  background: #ddd;
  position: relative;
  height: 480px;
  overflow: hidden;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(61.3% at 0 16%);
  width: 100%;
  height: 100%;
  background: linear-gradient(#ccc,#f4bbbb);
  opacity: .8;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(39.8% at 94% 82%);
  width: 100%;
  height: 100%;
  background: linear-gradient(#ccc,#ceabab);
  opacity: .7;
}
.hero-box img {
  margin-top: 64px;
  opacity: 0;
  z-index: 2;
  animation: image-sp 1.6s 1 forwards; 
}
@keyframes image-sp  {
  100% {opacity: 1;}
}
.image-pc {display: none;}
.hero-box {
  width: 420px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.hero-box div {
  position: relative;
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  font-size: 22px;
  padding: 32px;
  white-space: nowrap;
}
.coment1 {
  position: absolute;
  top: 32px;
  right: 50%;
  opacity: 0;
  z-index: 2;
  animation: coment1 1s 3.3s 1 forwards;
}
@keyframes coment1 {
  100% {right: 0;opacity: 1;}
}
.coment2 {
  position: absolute;
  top: 80px;
  right: 125%;
  opacity: 0;
  z-index: 2;
  animation: coment2 1s 3.6s 1 forwards;
}
@keyframes coment2 {
  100% {right: 75%;opacity: 1;}
}
.coment3 {
  position: absolute;
  top:128px;
  right: 200%;
  opacity: 0;
  z-index: 2;
  animation: coment3 1s 3.9s 1 forwards;
}
@keyframes coment3 {
  100% {right: 150%;opacity: 1;}
}


/* .main */
.main {
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 32px 0 64px;
  box-sizing: border-box;
  max-width: 960px;
}
.main > section {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 16px;
  box-shadow: 6px 6px 8px;
  opacity: 0;
  transition: opacity .5s;
}
#about.show {
  opacity: 1;
}
#work.show {
  opacity: 1;
}
#pr.show {
  opacity: 1;
}
#skill.show {
  opacity: 1;
}
section + section {margin-top: 32px;}
section > p {font-size: 12px;}
.introduction {
  text-align: center;
}
.introduction div {
  width: 360px;
  margin: 16px auto;
}
.introduction p {text-align: start;}
.introduction a {margin: 32px auto;}
.detail {
  display: inline-block;
  width: 200px;
  height: 32px;
  background: rgba(165, 42, 42, 0.8);
  color: white;
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
  line-height: 32px;
}
.detail:hover {opacity: .7;}


/* footer */
footer {
  border-top: 1px solid #ddd;
  padding: 64px 0 96px;
  text-align: center;
}
small {font-size: 12px;}

/* scroll */
#scroll {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: white;
  background: #666;
  border-radius: 50%;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 32px;
  cursor: pointer;
  transform: translateY(100px);
  transition: opacity .4s, transform .4s;
}
#scroll a {
  display: inline-block;
  width: 100%;
  height: 100%;

}
#scroll.show {
  transform: translateY(-100px);
  opacity: .8;
  transition: opacity .4s, transform .4s;
}


/* nav */
nav {
  padding: 16px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 4;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li:nth-child(3) {z-index: 2;}
li:hover {transform: scale(1.3);}
li div {
  width: 80px;
  text-align: center;
}
li a {font-size: 12px;}
.home-bottun {
  width: 96px;
  height: 96px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc((72px  - 96px) / 2);
  background: white;
}




@media (min-width: 600px) {
  .image-sp {display: none;}
  .image-pc {display: block;}
  .hero-box  {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
  }
  .hero-box div {
    writing-mode: horizontal-tb;
    width: 50%;
    height: 480px;
  }
  .coment1 {
    position: absolute;
    top: 40%;
    left: -25%;
    opacity: 0;
    animation: coment1 1s 3.3s 1 forwards;
  }
  @keyframes coment1 {
    100% {left: 0;opacity: 1;}
  }
  .coment2 {
    position: absolute;
    top: 50%;
    left: -15%;
    opacity: 0;
    animation: coment2 1s 3.6s 1 forwards;
  }
  @keyframes coment2 {
    100% {left: 10%;opacity: 1;}
  }
  .coment3 {
    position: absolute;
    top:60%;
    left: -5%;
    opacity: 0;
    animation: coment3 1s 3.9s 1 forwards;
  }
  @keyframes coment3 {
    100% {left: 20%;opacity: 1;}
  }
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .introduction div {
    width: auto;
    max-width: 600px;
    margin: 16px 0;
  }
}